({<%for i in [90, 80, 70, 60, 50, 40, 30, 20, 10, 0] do -%>NOL<%=i -%>: [<%=@res.reject{|x| x['intensity'] != i.to_s}.collect{|x| sprintf("[%d, %d]",  Time.parse(x['t']).to_i*1000, x['NOL']) }.join(',')%> ], LOAD<%=i -%>: [<%=@res.reject{|x| x['intensity'] != i.to_s}.collect{|x| sprintf("[%d, %.2f]",  Time.parse(x['t']).to_i*1000, x['volume']) }.join(',')%> ]<%if i!=0 %>,<%end%>  <%end%>})
