<p>Dear user,</p>

<p>
<a href="http://community.staleytraining.com/account/changepass?login=<%=@user.login%>&safeconduct=<%=@user.crypted_password%>">Change your forgotten password here.</a>
</p>

<p>Remember, your username is: <%=@user.login%> </p>

<p>
Thank you.
</p>

<p>
The Training Connection team.
</p>