<p>Dear user,</p>
<p>
Your <a href="http://community.staleytraining.com">Charles Staley's Training Connection</a> account has been upgraded.
</p>
<p>
Thank you,
</p>
<p>
The Training Connection team.
</p>