<%= form_remote_tag :url => {:action => 'new_comment', :id => @comment.commentable_id}, :loading => "$('loading_pic').style.display = 'inline'", :complete => "$('loading_pic').style.display = 'none'" ,:html => {:class => 'comment-form'}  %>
  <%=render :partial => '/shared/comments/comment_form' %>
<%= end_form_tag %>
