<object type="application/x-shockwave-flash" data="/gantt-demo.lzx.swf?lzproxied=false" width="900" height="500">
         <param name="movie" value="/gantt-demo.lzx.swf?lzproxied=false">
         <param name="quality" value="high">
         <param name="scale" value="noscale">
         <param name="salign" value="LT">
         <param name="menu" value="false"></object></body>